.button{
    padding: 5px 7px;
    border-radius: 5px;
    text-deoration:none;
    font-size: 1rem;
    margin:10px;
}
.ghost{
    border: thin solid $white;
    color:white;
    background: rgba(255,255,255,0);
    transition: ease-in-out .25s;
    &:hover{
        background:$white;
        color:$black;
        text-decoration: none;
    }
}
.ghost-dark{
    border: thin solid $black;
    color: $black;
    background: rgba(0,0,0,0);
    transition: ease-in-out .25s;
    &:hover{
        background:$black;
        color:$white;
        text-decoration: none;
    }
}
.round{
    border-radius:100%;
}
