#home-portfolio{
    background: $black;
    padding:1rem;
    margin-top:-2rem;
    margin-bottom:2rem;
    
    h3{
        color: $white;
    }
    .portfolio-item{
        position:relative;
        min-height: 158px;
        overflow: hidden;
        img{
            width:100%;
            height:auto;
        }
        .portfolio-info{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            transition: all 0.5s ease-in-out;
            background: rgba(0,0,0,0.75);
            color:$white;
            padding:10px 10px 0 10px;
            transform: translateY(100%);
        }
        &:hover{
            .portfolio-info{
                transform: translateY(50%);
            }
        }
    }
}