body{
	position:relative;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
#contact-section, #portfolio-section, #start, #passion-section{
	position:fixed;
	height:100vh;
	width:100vw;
	min-height:100vh;
	background-size: cover;
	top:0;
	bottom:0;
	left:0;
	right:0;
    //overflow-y: scroll;
}
.content-area{
	position:relative;
	height:100vh;
	width:100vw;
}
#start{
	left:0;
    z-index:9999;
    
	.intro-computer{
		position:relative;
		max-width:1122px;
		max-height: 904px;
		height:100%;
		width:100%;
		margin: 0 auto;
		top:0;
		> img{
			padding-bottom:150px;
		}
		.logo{
			position:absolute;
			top:50%;
			left:25%;
			transform:translate(-25%, -50%);
			blockquote{
				border:none;
				color:#eee;
			}
		}
	}
    @media (max-width: $screen-sm-min){
            .intro-computer{
                background:$black;
                > img{
                    display:none;
                }
                .logo{
                    left:0%;
                    transform: translateY(-50%) scale(.5);
                    text-align: center;
                    blockquote{
                        font-size:1.2em;
                    }
                    .button{
                        font-size:1.5em;
                        display:block;
                    }
                }
            }
        }
}
#portfolio-section{
	//background-color:$purple;
    background: url('images/start_bg_2.jpg') center center;
    background-size:cover;
	color:$white;
	p{
		font-size:5rem;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width:100%;
		text-align:center;
		text-transform:uppercase;
	}
}
#passion-section{
    @media (max-width: $screen-sm-min){
        //overflow-y: scroll;
    }
    h2,h3{
        text-align:center;
    }
    h2{
        margin-top:25vh;
    }
    > img{
        position:absolute;
        width:100%;
        //height:100%;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    .logos{
        display:flex;
        flex-flow: wrap row;
        overflow-y: hidden;
        text-align: center;
        align-content: space-around;
        @media (max-width: $screen-sm-min){
                flex-flow: row wrap;
                justify-content: center;
            }
        img{
            //flex-basis: auto;
            @media (max-width: $screen-sm-min){
                width:35%;
                margin-bottom:15px;
                height: 100%;;
            }
        }
    }
}
#contact-section{
    overflow-y: scroll;
    .well{
        margin-top:25px;
    }
     @media (max-width: $screen-sm-min){
        .visible-xs, .visible-sm{
            display:inline !important;
        }
         .button{
             margin:20px 5px;
         }
    }
}
.modal-backdrop{
    z-index:-1;
}